
/* Header style */

.HeaderWrap{
 width:100%;
 padding:6px 0px;
 background-image: linear-gradient(to right top, #7be3e3, #60e6dd, #44e8d2, #28eac4, #12ebb2);   
}

.HeaderTitle{
    color:#ebecec;

}



/* Footer style */

.FooterWrap{
    width:100%;
    height: 30px;
    background-image: linear-gradient(to right top, #051937, #041638, #041339, #071039, #0b0b39);
    position: fixed;
    bottom: 0px;
}

.FooterWrap p{
    color: aliceblue;
    margin-top: 5px;
}

